*{
	margin : 0;
	padding : 0;
}
html,body{
	width : 100%;
	height : 100%;
	overflow: hidden;
}
.main-container{
	width : 100%;
	height : 100%;
}
.main-container .sidebar-container{
	position: absolute;
	width : 46px;
	left : 0px;
	top : 30px;
	bottom:0px;
	max-height: 100%;
	overflow: auto;
	background: #F6F6F6;
	z-index: 1;
	border-radius: 2px;
}
.main-container .sidebar-container img{
	padding: 5px;
	margin : 2px;
	border-radius: 3px;
	width : 32px;
	height : 32px;
}
.main-container .sidebar-container img:hover{
	background:#ccc;
}
.main-container .resize-container{
	cursor: w-resize;
	position: absolute;
	right : 400px;
	width : 10px;
	height : 100%;
	background: transparent;
}
.editor-container,.xml-container{
	position: absolute;
	left : 38px;
	right : 400px;
	top : 30px;
	bottom : 0px;
	background-image: linear-gradient(90deg, rgba(153, 153, 153, 0.3) 1px, rgba(0, 0, 0, 0) 1px),linear-gradient(rgba(153, 153, 153, 0.3) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 8px 8px;
    overflow: auto;
}
.properties-container{
	position: absolute;
	right : 0px;
	top:30px;
	bottom : 0px;
	width : 400px;
	box-shadow: -2px 1px 3px #eee;
	overflow: auto;
}
.properties-container .editor-form-node .layui-form-relative{
	position: relative;
}
.properties-container .editor-form-node input,.properties-container .editor-form-node textarea{
	font-family: 'Consolas';
	font-size : 14px;
}
.properties-container .editor-form-node .layui-form-relative .layui-icon-close{
	position: absolute;
	left : 10px;
	font-size:28px;
	top : 30px;
	color : #333;
	cursor: pointer;
}

.toolbar-container ul li{
	float : left;
	padding : 0 10px;
	cursor: pointer;
	margin-top:5px;
	color:#333;
}
.toolbar-container ul li:hover{
	color : #40a9ff;
}
.toolbar-container ul li:not(:first-child){
	border-left: 1px solid #ccc;
}

.test-window-container .output-container{
	/* height: 320px; */
}
.test-window-container .log-container{
	border: 1px solid #ccc;
}
.test-window-container .log-container textarea{
	width : 100%;
	height : 100%;
}
.xml-container{
	display: none;
}
.xml-container textarea{
    width: 100%;
    height: 99.6%;
	border:none;
    padding: 10px 20px;
    box-sizing: border-box;
}
.xml-container textarea::-webkit-scrollbar {
 	width: 5px;
}
.xml-container textarea::-webkit-scrollbar-track {
	background-color:#ccc;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.xml-container textarea::-webkit-scrollbar-thumb {
	background-color:#999;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.log-container span{
	display:inline-block;
	vertical-align: middle;
	font-weight: bold;
}
.log-container .test-log > span{
	height:24px;
	line-height:24px;
	float : left;
	font-family: 'Consolas';
}
.log-container .test-log{
	height:24px;
	line-height:24px;
	width:100%;
	clear:both;
}
.log-container .test-log.log-error{
	color : red;
}
.log-container span.level{
	text-align:center;
	width:60px;
}
.log-container span.timestamp{
	margin-right:5px;
}
.log-container span.variable{
	margin:0 2px;
	max-width: 230px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor:pointer;
	color: #025900;
}
.log-container span.variable-object,.log-container span.variable-array{
	color : #2a00ff;
}
.log-container span.variable.variable-boolean{
	color : #600100;
}
.log-container span.variable.variable-number{
	color : #000E59;
}
.jsontree_value-wrapper{
	overflow: unset !important;
}
.jsontree_value_string,.jsontree_node{
	white-space: nowrap;
}
#test-window{
	padding:0px 10px;
}