*{
	margin : 0;
	padding : 0;
}
html,body{
	width : 100%;
	height : 100%;
	overflow: hidden;
	font-family: Microsoft YaHei;
}
.text-center{
	text-align: center;
}
.main-container{
	width : 100%;
	height : 100%;
}
.main-container .sidebar-container{
	position: absolute;
	width : 46px;
	left : 0px;
	top : 30px;
	bottom:300px;
	max-height: 100%;
	overflow: auto;
	background: #F6F6F6;
	z-index: 1;
	border-radius: 2px;
	overflow-x: hidden;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: vertical-lr;
}
.main-container .sidebar-container::-webkit-scrollbar {
 	width: 3px;
}
.main-container .sidebar-container::-webkit-scrollbar-track {
	background-color:#ccc;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.main-container .sidebar-container::-webkit-scrollbar-thumb {
	background-color:#999;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.main-container .sidebar-container img{
	padding: 5px;
	margin : 2px;
	border-radius: 3px;
	width : 32px;
	height : 32px;
}
.main-container .sidebar-container img:hover{
	background:#ccc;
}
.main-container .resize-container{
	cursor: n-resize;
	position: absolute;
	bottom : 290px;
	width : 100%;
	height : 20px;
	background: transparent;
}
.editor-container,.xml-container{
	position: absolute;
	left : 38px;
	width : 100%;
	top : 30px;
	bottom : 300px;
	background-image: linear-gradient(90deg, rgba(153, 153, 153, 0.3) 1px, rgba(0, 0, 0, 0) 1px),linear-gradient(rgba(153, 153, 153, 0.3) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 8px 8px;
    overflow: auto;
}
.properties-container{
	position: absolute;
	width : 100%;
	bottom : 0px;
	height : 300px;
	box-shadow: -2px 1px 3px #eee;
	overflow: auto;
}
.properties-container .layui-form-selectup dl{
	top:auto;
	bottom:auto;

}
.properties-container .layui-table-cell{
	height:32px;
	line-height: 32px;
	overflow: visible !important;
}
.properties-container .layui-table-box,.properties-container .layui-table-body {
	overflow: visible;
}
.properties-container .layui-table-cell{
	padding : 0 5px;
}
.properties-container .layui-table .layui-input-block{
	margin-left:0px;
	min-height: 32px;
	height: 32px;
}
.properties-container .layui-table,.properties-container .layui-table-view{
	margin-top:0px;
}
.properties-container .layui-table .layui-input,.properties-container .layui-table .layui-select,.properties-container .layui-table .layui-textarea{
	height:32px;
}
.properties-container .editor-form-node .layui-form-relative{
	position: relative;
}
.properties-container .editor-form-node input,.properties-container .editor-form-node textarea{
	font-family: 'Consolas';
	font-size : 14px;
}
.properties-container .editor-form-node .layui-form-relative .layui-icon-close{
	position: absolute;
	left : 10px;
	font-size:28px;
	top : 30px;
	color : #333;
	cursor: pointer;
	z-index: 1;
}
.properties-container .editor-form-node .layui-form-relative .layui-icon-close.function-remove{
	top : 5px;
}
.properties-container .editor-form-node .layui-form-relative .layui-icon-close.cmd-remove{
	top : 5px;
}

.properties-container .layui-tab{
	margin : 0px;
}

.toolbar-container ul li{
	float : left;
	padding : 0 10px;
	cursor: pointer;
	margin-top:5px;
	color:#333;
}
.toolbar-container ul li:hover{
	color : #40a9ff;
}
.toolbar-container ul li:not(:first-child){
	border-left: 1px solid #ccc;
}

.test-window-container .output-container{
	/* height: 320px; */
}
.test-window-container .log-container{
	border: 1px solid #ccc;
}
.test-window-container .log-container textarea{
	width : 100%;
	height : 100%;
}
.xml-container{
	display: none;
}
.xml-container textarea{
    width: 100%;
    height: 99.6%;
	border:none;
    padding: 10px 20px;
    box-sizing: border-box;
}
.xml-container textarea::-webkit-scrollbar {
 	width: 5px;
}
.xml-container textarea::-webkit-scrollbar-track {
	background-color:#ccc;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.xml-container textarea::-webkit-scrollbar-thumb {
	background-color:#999;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.log-container span{
	display:inline-block;
	vertical-align: middle;
	font-weight: bold;
}
.log-container .test-log > span{
	height:24px;
	line-height:24px;
	float : left;
	font-family: 'Consolas';
}
.log-container .test-log{
	height:24px;
	line-height:24px;
	width:100%;
	clear:both;
}
.log-container .test-log.log-error{
	color : red;
}
.log-container span.level{
	text-align:center;
	width:60px;
}
.log-container span.timestamp{
	margin-right:5px;
}
.log-container span.variable{
	margin:0 2px;
	max-width: 230px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor:pointer;
	color: #025900;
}
.log-container span.variable-object,.log-container span.variable-array{
	color : #2a00ff;
}
.log-container span.variable.variable-boolean{
	color : #600100;
}
.log-container span.variable.variable-number{
	color : #000E59;
}
.jsontree_value-wrapper{
	overflow: unset !important;
}
.jsontree_value_string,.jsontree_node{
	white-space: nowrap;
}
#test-window{
	padding:0px 10px;
	overflow: hidden;
}
.layui-layer.codemirror .layui-input-block{
	margin-left:0px;
}

.hint-grammer{
	width : 100%;
	color : #333;
}
.hint-grammer:not(:first-child){
	border-top:1px solid #ccc;
	margin-top:5px;
	padding-top:5px;
}
.hint-grammer .hint-owner span{
	color : #600100
}
.hint-grammer .hint-return span{
	color : #0000C0
}
.hint-grammer .hint-example{
	padding:2px 5px;
	color : #000;
}
.layui-layer-tips{
	word-break: break-all;
}