.layui-body .layui-tab{margin:0px;height:100%;}
.layui-body .layui-tab .layui-tab-content{position: absolute;top: 40px;bottom: 0px;width: 100%;padding:0px;overflow: hidden;}
.layui-body .layui-tab .layui-tab-content .layui-tab-item{height:100%;width:calc(100% - 48px);}
/***********************/

.layui-layout-admin .layui-search-menu{
	width:200px;
	padding:2px 5px;
	border-bottom:1px solid #eee;
	box-sizing: border-box;
}
.layui-layout-admin .layui-search-menu .layui-input{
	margin:0;
	padding-left:10px;
}
.layui-layout-admin .layui-search-menu .layui-form-select  .layui-anim{
	max-width: 195px;
	max-height: 360px;
}
.layui-layout-right .layui-nav-item a{
	padding : 0 10px;
}
.layui-layout-right .layui-nav-item a img{
	background : #fff;
	border-radius : 4px;
}
a{
	cursor:pointer;
}