<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">基本配置</li>
    <li>代理</li>
  </ul>
  <div class="layui-tab-content editor-form-node">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form">
    		<div class="layui-form-item">
    			<label class="layui-form-label">节点名称</label>
    			<div class="layui-input-block">
    				<input type="text" name="value" placeholder="请输入节点名称" value="{{=d.value}}" autocomplete="off" class="layui-input">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">循环变量</label>
    			<div class="layui-input-block">
    				<input type="text" name="loopVariableName" placeholder="请输入循环变量" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopVariableName}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">循环次数</label>
    			<div class="layui-input-block">
    				<input type="text" name="loopCount" placeholder="请输入循环次数" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopCount}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">页面加载超时时间</label>
    			<div class="layui-input-block">
    				<input type="text" name="pageLoadTimeout" placeholder="请输入页面加载超时时间" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.pageLoadTimeout}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">元素获取超时时间</label>
    			<div class="layui-input-block">
    				<input type="text" name="implicitlyWaitTimeout" placeholder="请输入元素获取超时时间" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.implicitlyWaitTimeout}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">JavaScript</label>
    			<div class="layui-input-block">
    				<select name="javascriptEnabled">
 						<option value="true" {{d.data.object.javascriptEnabled=='true' ? 'selected': ''}}>启用</option>
 						<option value="true" {{d.data.object.javascriptEnabled=='false' ? 'selected': ''}}>禁用</option>
    				</select>
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">URL</label>
    			<div class="layui-input-block">
    				<input type="text" name="url" placeholder="请输入起始url" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.url}}">
    			</div>
    		</div>
    	</form>
    </div>
    <div class="layui-tab-item">
    	<form class="layui-form">
	    	<div class="layui-form-item">
	   			<label class="layui-form-label">代理</label>
	   			<div class="layui-input-block">
	   				<input type="text" name="proxy" placeholder="host:port" value="{{=d.data.object.proxy}}" autocomplete="off" class="layui-input input-default">
	   			</div>
	   		</div>
	   	</form>
    </div>
  </div>
</div>