<style>
	.oss-form .layui-input-block{
		margin-left: 185px;
	}
	.oss-form .layui-form-label{
		width: 155px;
	}
</style>
<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">基本配置</li>
  </ul>
  <div class="layui-tab-content editor-form-node">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form oss-form">
    		<div class="layui-form-item">
    			<label class="layui-form-label">节点名称</label>
    			<div class="layui-input-block">
    				<input type="text" name="value" placeholder="请输入节点名称" value="{{=d.value}}" autocomplete="off" class="layui-input">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">EndPoint（地域节点）</label>
    			<div class="layui-input-block">
    				<input type="text" name="endpoint" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.endpoint}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">ACCESS_KEY_ID</label>
    			<div class="layui-input-block">
    				<input type="text" name="accessKeyId" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.accessKeyId}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">ACCESS_KEY_SECRET</label>
    			<div class="layui-input-block">
    				<input type="password" name="accessKeySecret" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.accessKeySecret}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">Bucket 名称</label>
    			<div class="layui-input-block">
    				<input type="text" name="bucketName" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.bucketName}}">
    			</div>
    		</div>
    	</form>
    </div>
  </div>
</div>