<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">配置</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
    	<div class="layui-form editor-form-node">
    		<div class="layui-form-item">
    			<label class="layui-form-label">节点名称</label>
    			<div class="layui-input-block">
    				<input type="text" name="value" placeholder="请输入节点名称" value="{{(d.value || '').replace(/\"/g,'&quot;')}}" autocomplete="off" class="layui-input">
    			</div>
    		</div>
    		{{# layui.each(d.data.object.variables,function(index,variable){ }}
    			<hr>
	    		<div class="layui-form-item layui-form-relative">
	    			<i class="layui-icon layui-icon-close variable-remove"></i>  
	    			<label class="layui-form-label">变量名</label>
	    			<div class="layui-input-block">
	    				<input type="text" name="variable-name" placeholder="变量名称" autocomplete="off" class="layui-input" value="{{(variable.name || '').replace(/\"/g,'&quot;')}}">
	    			</div>
	    		</div>
	    		<div class="layui-form-item">
	    			<label class="layui-form-label">变量值</label>
	    			<div class="layui-input-block">
	    				<input type="text" name="variable-value" placeholder="变量值" autocomplete="off" class="layui-input" value="{{(variable.value || '').replace(/\"/g,'&quot;')}}">
	    			</div>
	    		</div>
    		{{# }) }}
    		<hr>
    		<div class="layui-form-item">
    			<div class="layui-input-block">
	    			<button class="layui-btn variable-add">添加一个变量</button>
	    		</div>
	    	</div>
    	</div>
    </div>
  </div>
</div>