<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">全局配置</li>
    <li>全局Header</li>
  </ul>
  <div class="layui-tab-content editor-form-node">
    <div class="layui-tab-item layui-show">
    	<div class="layui-form">
    		<div class="layui-form-item">
    			<label class="layui-form-label">爬虫名称</label>
    			<div class="layui-input-block">
    				<input type="text" name="spiderName" placeholder="请输入爬虫名称" autocomplete="off" class="layui-input" value="{{d.data.object.spiderName || '未定义名称'}}">
    			</div>
    		</div>
    	</div>
    </div>
    <div class="layui-tab-item">
    	{{# layui.each(d.data.object.headers,function(index,header){ }}
    		<div class="layui-form-item layui-form-relative">
    			<i class="layui-icon layui-icon-close header-remove"></i>  
    			<label class="layui-form-label">header名</label>
    			<div class="layui-input-block">
    				<input type="text" name="header-name" placeholder="请输入header名" autocomplete="off" class="layui-input" value="{{header.name || ''}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">header值</label>
    			<div class="layui-input-block">
    				<input type="text" name="header-value" placeholder="请输入header值" autocomplete="off" class="layui-input" value="{{(header.value || '').replace('"','&quot;')}}">
    			</div>
    		</div>
    		<hr>
   		{{# }) }}
   		<div class="layui-form-item">
   			<div class="layui-input-block">
    			<button class="layui-btn header-add">添加一个Header</button>
    		</div>
    	</div>
    </div>
  </div>
</div>