<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">配置</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form editor-form-node">
    		<div class="layui-form-item">
    			<label class="layui-form-label">节点名称</label>
    			<div class="layui-input-block">
    				<input type="text" name="value" placeholder="请输入节点名称" value="{{=d.value}}" autocomplete="off" class="layui-input">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">数据库类型</label>
    			<div class="layui-input-block">
    				<select name="datasourceType">
    					<option value="mysql" {{d.data.object.datasourceType == 'mysql' ? 'selected':''}}>mysql</option>
    					<option value="oracle" {{d.data.object.datasourceType == 'oracle' ? 'selected':''}}>oracle</option>
    				</select>
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">数据库连接</label>
    			<div class="layui-input-block">
    				<input type="text" name="datasourceUrl" placeholder="请输入数据库连接" autocomplete="off" class="layui-input" value="{{=d.data.object.datasourceUrl}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">用户名</label>
    			<div class="layui-input-block">
    				<input type="text" name="datasourceUsername" placeholder="请输入数据库用户名" autocomplete="off" class="layui-input" value="{{=d.data.object.datasourceUsername}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">密码</label>
    			<div class="layui-input-block">
    				<input type="password" name="datasourcePassword" placeholder="请输入数据库密码" autocomplete="off" class="layui-input" value="{{=d.data.object.datasourcePassword}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<div class="layui-input-block">
    				<button class="layui-btn btn-datasource-test" type="button">测试连接</button>
    			</div>
    		</div>
    	</form>
    </div>
  </div>
</div>