<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">配置</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form editor-form-node">
    		<div class="layui-form-item">
    			<label class="layui-form-label">节点名称</label>
    			<div class="layui-input-block">
    				<input type="text" name="value" placeholder="请输入节点名称" value="{{=d.value}}" autocomplete="off" class="layui-input">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">循环变量</label>
    			<div class="layui-input-block">
    				<input type="text" name="loopVariableName" placeholder="请输入循环变量" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopVariableName}}">
    			</div>
    		</div>
    		<div class="layui-form-item">
    			<label class="layui-form-label">循环次数</label>
    			<div class="layui-input-block" codemirror="loopCount" placeholder="请输入循环次数" data-value="{{=d.data.object.loopCount}}"></div>
    		</div>
    		{{# layui.each(d.data.object['variable-name'],function(index,variable){ }}
    			<hr>
	    		<div class="layui-form-item layui-form-relative">
	    			<i class="layui-icon layui-icon-close variable-remove"></i>  
	    			<label class="layui-form-label">变量名</label>
	    			<div class="layui-input-block array">
	    				<input type="text" name="variable-name" placeholder="变量名称" autocomplete="off" class="layui-input array" value="{{=d.data.object['variable-name'][index]}}">
	    			</div>
	    		</div>
	    		<div class="layui-form-item">
	    			<label class="layui-form-label">变量值</label>
	    			<div class="layui-input-block array" codemirror="variable-value" placeholder="变量值" data-value="{{=d.data.object['variable-value'][index]}}"></div>
	    		</div>
    		{{# }) }}
    		<hr>
    		<div class="layui-form-item">
    			<div class="layui-input-block">
	    			<button class="layui-btn variable-add" type="button">添加一个变量</button>
	    		</div>
	    	</div>
    	</form>
    </div>
  </div>
</div>